.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

 .mat-radio-button{
  margin-right: 5%;
}
.cdk-overlay-pane{
  overflow: auto;
}
#cdk-overlay-1{
  overflow: auto;
}
.example-chip-list{
  width: 100%;
}
.mat-mdc-dialog-container .mdc-dialog__surfac{
  padding: 20px;
}
.mat-mdc-dialog-surface{
  padding: 20px;
}
