.layout1{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.mat-radio-button{
  margin-right: 5%;
}
.cdk-overlay-pane{
  overflow: auto;
}
#cdk-overlay-1{
  overflow: auto;
}
.mat-sort-header-container{
  display: flex;
  justify-content: center;
}
.mat-mdc-dialog-container .mdc-dialog__surfac{
  padding: 20px;
}
.mat-mdc-dialog-surface{
  padding: 20px;
}
.app-title {
  margin-left: 30px;
}
